@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Baloo+2:wght@400..800&family=Fredoka:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Gemstones&display=swap");
@import "tailwindcss";
/*any import should come before tailwind import*/

body {
  font-family: "Archivo", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#hero {
  background-image: url("./assets/hero_bg.jpg");
  /* background-attachment: fixed ; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.shadow-customized {
  box-shadow: rgba(0, 0, 0, 0.092) 0px 0px 6px;
}
